:root {
  --branco: #FFFFFF;
  --amarelo: #FBB031;
  --amarelo-claro: #FFCB70;
  --azul: #519CED;
  --cinza: #6b6974;
  --familia: 'Roboto', sans-serif;
  --familia-texto: 'Lato', sans-serif;
  --peso-titulo-destaque: 900;
  --peso-botao: 700;
  --tamanho-corpo: 1.8rem;
  --tamanho-botao: 2.5rem;
  --tamanho-sobre-mim: 1.2rem;
  --tamanho-corpo-destaque: 2rem;
  --tamanho-titulo: 3rem;
  --tamanho-destaque: 4.5rem;
  --tamanho-subtitulo: 2.2rem;
  --tamanho-texto: 1.8rem;
  --tamanho-footer: 1.4rem;
  --tamanho-desktop: 2.2rem;
}