@import url(_variables.css);

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: var(--familia);
  color: var(--azul);
}

p {
  font-family: var(--familia-texto);
  font-size: var(--tamanho-corpo);
  line-height: 1.2;
  font-weight: 300;
}

img {
  width: 100%;
}

a.btn {
  display: inline-block;
  text-decoration: none;
  width: 280px;
  height: 60px;
  line-height: 60px;
  background-color: var(--amarelo);
  color: var(--branco);
  text-align: center;
  font-size: var(--tamanho-botao);
  border-radius: 50px;
  transition: all ease 0.5s;
}

a.btn:hover{
  background-color: #615c59;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: var(--amarelo);
}

.nav-container {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  gap: 2rem;
}

.link-botao {
  text-decoration: none;
  font-size: var(--tamanho-botao);
  background-color: var(--amarelo);
  color: var(--branco);
  margin: 1rem auto;
  padding: 1rem 0;
  min-width: 200px;
  text-align: center;
}

.article-container {
  margin: 1rem 10%;
}

.title-container {
  margin: 3rem 0;
}

.title {
  color: var(--amarelo);
  font-size: var(--tamanho-titulo);
  text-align: center;
  margin: 3rem 0;
}

.subtitle {
  font-size: var(--tamanho-subtitulo);
  margin-bottom: 1.5rem;
}

.text-container {
  margin-bottom: 3rem;
}

.card {
  border: 15px solid var(--amarelo-claro);
  margin: 2rem 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem 3rem 3rem;
}

.logo {
  max-width: 77px;
  max-height: 77px;
}

.form-container {
  margin: 2rem 20%;
}

.footer-text {
  font-size: var(--tamanho-footer);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  color: var(--branco);
  background-color: var(--azul);
  padding: 6rem 0;
  text-align: center;
}



@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  .nav-container {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .article-container {
    margin: 1rem 1.5rem;
  }

  

  .text-container {
    margin: 3rem 10%;
  }
  .card {
    border: 15px solid var(--amarelo-claro);
    margin: 1rem 0;
    min-height: 650px;
    max-width: 360px;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .form-container {
    margin: 2rem 20%;
    max-width: 400px;
    margin: 0 auto;
  }
  .nav-container {
    margin: 0 auto;
    max-width: 700px;
  }

  .text-container {
    margin: 0 auto;
    max-width: 700px;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    max-width: 1200px;
    margin: 0 auto;;
  }
}

@media (min-width: 1440px) {
  p {
    font-size: var(--tamanho-desktop);
  }
  header, section {
    margin: 0 auto;
    max-width: 1440px;
  }

  .nav-container {
    margin: 0 auto;
    max-width: 1000px;
  }

  .text-container {
    margin: 4rem auto;
    max-width: 800px;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    max-width: 1200px;
    margin: 0 auto;
  }

  .form-container {
    max-width: 500px;
    margin: 0 auto;
    border: 80px solid white;
  }
  .card {
    min-height: 800px;
  }
}